In [1]:
import numpy as np
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori, association_rules

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv("fanituotteet.csv")
df.head(3)

,ID,MovieBoxes,TShirts,CollegeShirts,Caps,Hats,Mugs,Music,Posters,Books,...,PintsAndWhiskeyGlasses,ScaleModels,CollectorCards,BoardGames,FlagsAndStandards,Stickers,Toys,Sweets,FridgeMagnets,UnderwearAndSocks
0,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,2,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,1,1,1,1,1
2,3,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1

In [ ]:
df.shape

(100000, 21)

In [ ]:
df.dtypes

ID                        int64
MovieBoxes                int64
TShirts                   int64
CollegeShirts             int64
Caps                      int64
Hats                      int64
Mugs                      int64
Music                     int64
Posters                   int64
Books                     int64
Scarves                   int64
PintsAndWhiskeyGlasses    int64
ScaleModels               int64
CollectorCards            int64
BoardGames                int64
FlagsAndStandards         int64
Stickers                  int64
Toys                      int64
Sweets                    int64
FridgeMagnets             int64
UnderwearAndSocks         int64
dtype: object

In [ ]:
column_sums = df.sum()
print(column_sums)

ID                        5000050000
MovieBoxes                     10998
TShirts                        13098
CollegeShirts                   3271
Caps                            3585
Hats                           10459
Mugs                            2952
Music                          13499
Posters                        16179
Books                          19853
Scarves                         9336
PintsAndWhiskeyGlasses         10848
ScaleModels                    15971
CollectorCards                  1339
BoardGames                     14557
FlagsAndStandards              11880
Stickers                       13100
Toys                            5618
Sweets                         12166
FridgeMagnets                  20626
UnderwearAndSocks              14798
dtype: int64

In [ ]:
sorted_sums_desc = column_sums.sort_values(ascending=False)
print(sorted_sums_desc)

ID                        5000050000
FridgeMagnets                  20626
Books                          19853
Posters                        16179
ScaleModels                    15971
UnderwearAndSocks              14798
BoardGames                     14557
Music                          13499
Stickers                       13100
TShirts                        13098
Sweets                         12166
FlagsAndStandards              11880
MovieBoxes                     10998
PintsAndWhiskeyGlasses         10848
Hats                           10459
Scarves                         9336
Toys                            5618
Caps                            3585
CollegeShirts                   3271
Mugs                            2952
CollectorCards                  1339
dtype: int64

In [ ]:
colnames = df.columns
colnames

Index(['ID', 'MovieBoxes', 'TShirts', 'CollegeShirts', 'Caps', 'Hats', 'Mugs',
       'Music', 'Posters', 'Books', 'Scarves', 'PintsAndWhiskeyGlasses',
       'ScaleModels', 'CollectorCards', 'BoardGames', 'FlagsAndStandards',
       'Stickers', 'Toys', 'Sweets', 'FridgeMagnets', 'UnderwearAndSocks'],
      dtype='object')

In [ ]:
# transactions = [] # luuppi, joka tekee listoja listojen sisÃ¤lle
# for i in range(0, df.shape[0]): # kaikki rivit
#     transact = [] # luodaan yksi tapahtuma eli yksi kuittirivi
#     for j in range(1, df.shape[1]):
#         if df.values[i,j]==1: # ei id saraketta mukaan ja vain value 1 mukaan
#             transact.append(colnames[j]) # yksittÃ¤iset tapahtumat
#         if len(transact) > 0:
#             transactions.append(transact)
#             # print(transactions)
# transactions
# print(transactions[0:10])   

 # JÃ¤rjestÃ¤ tapahtumat
transctions = []
for i in range(0, df.shape[0]): #10000, rivit
    transact = []
    for j in range(1,df.shape[1]): #21, sarakkeet ei ID
        if df.values[i,j]==1:
            transact.append(colnames[j])
            #print(transaction)
    transctions.append(transact)
transctions
print(transctions[0:10]) #tulostetaan 10 ensimmÃ¤istÃ¤ riviÃ¤

[['Books', 'FlagsAndStandards', 'UnderwearAndSocks'], ['TShirts', 'Books', 'FlagsAndStandards', 'Stickers', 'Toys', 'Sweets', 'FridgeMagnets', 'UnderwearAndSocks'], ['Music', 'FridgeMagnets', 'UnderwearAndSocks'], ['MovieBoxes', 'Caps', 'PintsAndWhiskeyGlasses', 'FridgeMagnets', 'UnderwearAndSocks'], ['Books', 'FlagsAndStandards', 'FridgeMagnets', 'UnderwearAndSocks'], ['TShirts', 'Music', 'PintsAndWhiskeyGlasses'], ['Sweets', 'FridgeMagnets', 'UnderwearAndSocks'], ['Posters', 'Stickers'], [], []]

In [ ]:
# results = list(apriori(transactions= transactions, min_support =0.1, min_confidence = 0.1, min_lift = 1.1, min_lenght = 1, max_length = 5))
# print(results)


# mallinnetaan apriori-algoritmillÃ¤ ja tuodaan tulokset listaaan
# Kokeile sÃ¤Ã¤tÃ¤Ã¤ parametrejÃ¤
results = list(apriori(transactions = transctions,  min_support = 0.1, min_confidence = 0.1, min_lift = 1.1, min_length = 1, max_length = 5))
print(results)

TypeError: apriori() got an unexpected keyword argument 'transactions'

appriori tekee frozensettejÃ¤, joka on pythonin datatyyppi
https://docs.python.org/3/library/stdtypes.html#frozenset

In [ ]:
# Haetaan mittarit sÃ¤Ã¤nnÃ¶ille ja lisÃ¤tÃ¤Ã¤n ne listaan
data = []
for a in results: # tulokset
    support = a.support
    items = a.items
    rules = a.ordered_statistics
    # print(rules)
    for b in rules: # sÃ¤Ã¤nnÃ¶t
        lhs = b.items_base
        rhs = b.items_add
        conf = b.confidence
        lift = b.lift
        data.append([support, conf, lhs, rhs, lift])
        print("%6.4f %6.4f %s ---> %s %f" % (support, conf, lhs, rhs, lift))
        print("") # tyhjÃ¤ rivi vÃ¤liin

len(data) # neljÃ¤ keissiÃ¤ saadaan ulos

NameError: name 'results' is not defined