### Tää on vaikeampi

In [84]:
import pandas as pd
import numpy as np
data = pd.read_csv("Market_Basket_Optimisation.csv", sep=",", header= None )

from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori

In [85]:
transactions = []
# populating the list with transactions
for i in range(0, data.shape[0]): 
  transactions.append([str(data.values[i,j]) for j in range(0, data.shape[1])])
transactions[:5]
len(transactions)

7501

In [86]:
# importing the required module
from mlxtend.preprocessing import TransactionEncoder

# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
dataset = pd.DataFrame(te_ary, columns=te.columns_)

# dataset after encoded
dataset

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [87]:
print(list(dataset.columns))

[' asparagus', 'almonds', 'antioxydant juice', 'asparagus', 'avocado', 'babies food', 'bacon', 'barbecue sauce', 'black tea', 'blueberries', 'body spray', 'bramble', 'brownies', 'bug spray', 'burger sauce', 'burgers', 'butter', 'cake', 'candy bars', 'carrots', 'cauliflower', 'cereals', 'champagne', 'chicken', 'chili', 'chocolate', 'chocolate bread', 'chutney', 'cider', 'clothes accessories', 'cookies', 'cooking oil', 'corn', 'cottage cheese', 'cream', 'dessert wine', 'eggplant', 'eggs', 'energy bar', 'energy drink', 'escalope', 'extra dark chocolate', 'flax seed', 'french fries', 'french wine', 'fresh bread', 'fresh tuna', 'fromage blanc', 'frozen smoothie', 'frozen vegetables', 'gluten free bar', 'grated cheese', 'green beans', 'green grapes', 'green tea', 'ground beef', 'gums', 'ham', 'hand protein bar', 'herb & pepper', 'honey', 'hot dogs', 'ketchup', 'light cream', 'light mayo', 'low fat yogurt', 'magazines', 'mashed potato', 'mayonnaise', 'meatballs', 'melons', 'milk', 'mineral water', 'mint', 'mint green tea', 'muffins', 'mushroom cream sauce', 'nan', 'napkins', 'nonfat milk', 'oatmeal', 'oil', 'olive oil', 'pancakes', 'parmesan cheese', 'pasta', 'pepper', 'pet food', 'pickles', 'protein bar', 'red wine', 'rice', 'salad', 'salmon', 'salt', 'sandwich', 'shallot', 'shampoo', 'shrimp', 'soda', 'soup', 'spaghetti', 'sparkling water', 'spinach', 'strawberries', 'strong cheese', 'tea', 'tomato juice', 'tomato sauce', 'tomatoes', 'toothpaste', 'turkey', 'vegetables mix', 'water spray', 'white wine', 'whole weat flour', 'whole wheat pasta', 'whole wheat rice', 'yams', 'yogurt cake', 'zucchini']

In [88]:
with open("columns_kerttuli.txt", "w") as f:
    for col in dataset.columns:
        f.write(col + "\n")

In [89]:
dataset.loc[dataset[" asparagus"] == True]

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
694,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [90]:
dataset[" asparagus"].value_counts()

 asparagus
False    7500
True        1
Name: count, dtype: int64

In [91]:
dataset["nan"].value_counts()

nan
True     7500
False       1
Name: count, dtype: int64

In [92]:
dataset["nan"].value_counts()

nan
True     7500
False       1
Name: count, dtype: int64

In [93]:
dataset.drop("nan", axis=1, inplace=True)

In [94]:
dataset.drop(" asparagus", axis=1, inplace=True)

In [95]:
# Step 1: Generate frequent itemsets with minimum support

frequent_itemsets3= apriori(dataset, min_support=0.05, use_colnames=True) # Yleisesti high support >= 0.5, niche support < 0.5 (market basket aluksi esim. 0.1)

# Step 2: Generate rules with minimum confidence
rules3 = association_rules(frequent_itemsets3, metric="confidence", min_threshold=0.05, num_itemsets=2) # high confidence >= 0.7, low 0.3-0.6  (Yleensä aloitus 0.7)

# Step 3: Filter rules by lift
rules3 = rules3[rules3['lift'] > 1] #  yleiset rajat: lift >= 1.2, meaningful, lift >= strong relationship 
# Lift >= 1 - positive association
# Lift = 1 no associaton
# Lift < 1 negattive association

print(rules3)

       antecedents      consequents  antecedent support  consequent support  \
0      (chocolate)  (mineral water)            0.163845            0.238368
1  (mineral water)      (chocolate)            0.238368            0.163845
2           (eggs)  (mineral water)            0.179709            0.238368
3  (mineral water)           (eggs)            0.238368            0.179709
4      (spaghetti)  (mineral water)            0.174110            0.238368
5  (mineral water)      (spaghetti)            0.238368            0.174110

    support  confidence      lift  representativity  leverage  conviction  \
0  0.052660    0.321400  1.348332               1.0  0.013604    1.122357
1  0.052660    0.220917  1.348332               1.0  0.013604    1.073256
2  0.050927    0.283383  1.188845               1.0  0.008090    1.062815
3  0.050927    0.213647  1.188845               1.0  0.008090    1.043158
4  0.059725    0.343032  1.439085               1.0  0.018223    1.159314
5  0.059725    0.250559  1.439085               1.0  0.018223    1.102008

   zhangs_metric   jaccard  certainty  kulczynski
0       0.308965  0.150648   0.109018    0.271158
1       0.339197  0.150648   0.068256    0.271158
2       0.193648  0.138707   0.059103    0.248515
3       0.208562  0.138707   0.041372    0.248515
4       0.369437  0.169312   0.137421    0.296796
5       0.400606  0.169312   0.092566    0.296796

In [96]:
# Sort the DataFrame by the 'lift' column in descending order
sorted_rules = rules3.sort_values(by='lift', ascending=False)

# Display the sorted DataFrame
# print(sorted_rules)
print(sorted_rules.to_string(index=False))

    antecedents     consequents  antecedent support  consequent support  support  confidence     lift  representativity  leverage  conviction  zhangs_metric  jaccard  certainty  kulczynski
    (spaghetti) (mineral water)            0.174110            0.238368 0.059725    0.343032 1.439085               1.0  0.018223    1.159314       0.369437 0.169312   0.137421    0.296796
(mineral water)     (spaghetti)            0.238368            0.174110 0.059725    0.250559 1.439085               1.0  0.018223    1.102008       0.400606 0.169312   0.092566    0.296796
    (chocolate) (mineral water)            0.163845            0.238368 0.052660    0.321400 1.348332               1.0  0.013604    1.122357       0.308965 0.150648   0.109018    0.271158
(mineral water)     (chocolate)            0.238368            0.163845 0.052660    0.220917 1.348332               1.0  0.013604    1.073256       0.339197 0.150648   0.068256    0.271158
(mineral water)          (eggs)            0.238368            0.179709 0.050927    0.213647 1.188845               1.0  0.008090    1.043158       0.208562 0.138707   0.041372    0.248515
         (eggs) (mineral water)            0.179709            0.238368 0.050927    0.283383 1.188845               1.0  0.008090    1.062815       0.193648 0.138707   0.059103    0.248515